.button-home {
  width: 150px;
  height: 30px;
}

img {
  width: 700px;
}

.section-home {
  background-color: #313640;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.div-collumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
